<h1>{{title}}</h1>

<div style="display: flex; justify-content: space-around;
    align-items: center;">

<form action="/logout" method="POST" style="margin-bottom: 24px;">
    <button type="submit" class="btn btn-success">Salir</button>
</form>
<form action="/profile" method="get">
    <button style="cursor: pointer;">Ver mi Perfil</button>
</form>

</div>
<ul class="list-group">
    <hr>
    {{#each data.docs}}
    <li style="font-weight: bolder;">Nombre: {{this.last_name}} </li>
    <li style="font-weight: bolder;">Apellido: {{this.first_name}}</li>
    <li>email: {{this.email}}</li>
    <li>edad: {{this.age}}</li>
    <li>genero: {{this.gender}}</li>
    <li>rol: {{this.rol}}</li>
    <hr>
    {{/each}}
</ul>
<nav aria-label="Paginacion">
    <ul class="pagination">
        {{#if data.hasPrevPage}}<li class="page-item"><a class="page-link" href="/users?page={{data.prevPage}}">Ant</a>
        </li>{{/if}}
        <li class="page-item"><a class="page-link" href="/users?page=1">Pg 1</a></li>
        <li class="page-item"><a class="page-link" href="#">Pg {{data.page}} de {{data.totalPages}}</a></li>
        {{#if data.hasNextPage}}<li class="page-item"><a class="page-link" href="/users?page={{data.nextPage}}">Sig</a>
        </li>{{/if}}
    </ul>
</nav>